Repository morpheus18-glitch/Autolytiq-desk-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(validation): complete 5-layer enforcement system
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
  scripts/validate-file-structure.js
Due: eslint --fix, prettier --write

feat(tax-engine): implement Rust WASM tax calculation engine
  package.json
  scripts/emergency-fix-email-direction.sql
  scripts/validate-file-structure.js
  services/tax-engine-rs/.gitignore
  services/tax-engine-rs/Cargo.toml
  services/tax-engine-rs/README.md
  services/tax-engine-rs/src/calculator.rs
  services/tax-engine-rs/src/lib.rs
  services/tax-engine-rs/src/types.rs
  shared/autoTaxEngine/engine/reciprocity.ts.unused
  shared/autoTaxEngine/tax-data.ts
  shared/autoTaxEngine/types.ts
  shared/autoTaxEngine/wasm-integration.test.ts
  shared/autoTaxEngine/wasm-wrapper.ts
Due: eslint --fix, prettier --write

feat: add Rust WASM tax engine and Go microservices architecture
  scripts/validate-file-structure.js
  services/README.md
  services/api-gateway/.gitignore
  services/api-gateway/Dockerfile
  services/api-gateway/go.mod
  services/api-gateway/main.go
  services/build-all.sh
  services/customer-service/.gitignore
  services/customer-service/Dockerfile
  services/customer-service/go.mod
  services/customer-service/main.go
  services/deal-service/.gitignore
  services/deal-service/Dockerfile
  services/deal-service/go.mod
  services/deal-service/main.go
  services/docker-compose.yml
  services/tax-engine-rs/src/lib.rs
  services/tax-engine-rs/src/state_rules.rs
  shared/autoTaxEngine/rules/US_MS.ts
Due: eslint --fix, prettier --write

security: fix Docker Compose credentials and CORS configuration
  services/.env.example
  services/.gitignore
  services/docker-compose.yml
Due: prettier --write

docs: add microservices architecture decision and migration plan
  ARCHITECTURE.md
  scripts/validate-file-structure.js
Due: eslint --fix, prettier --write

feat(deal-service): add PostgreSQL integration and comprehensive tests
  services/deal-service/database.go
  services/deal-service/database_interface.go
  services/deal-service/go.mod
  services/deal-service/main.go
  services/deal-service/main_test.go
Due: none

feat(customer-service): add PostgreSQL integration and comprehensive tests
  services/customer-service/database.go
  services/customer-service/database_interface.go
  services/customer-service/go.mod
  services/customer-service/main.go
  services/customer-service/main_test.go
Due: none

fix(autoTaxEngine): resolve TypeScript errors and complete WASM integration
  shared/autoTaxEngine/rules/US_AR.ts
  shared/autoTaxEngine/types.ts
  shared/autoTaxEngine/wasm-adapter.ts
  shared/autoTaxEngine/wasm-integration.test.ts
  shared/autoTaxEngine/wasm-wrapper.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(client): add complete React frontend with authentication
  .gitignore
  client/ARCHITECTURE.md
  client/index.html
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/public/favicon.svg
  client/src/App.tsx
  client/src/contexts/AuthContext.tsx
  client/src/index.css
  client/src/layouts/AuthLayout.tsx
  client/src/layouts/MainLayout.tsx
  client/src/layouts/index.ts
  client/src/lib/api.ts
  client/src/lib/utils.ts
  client/src/main.tsx
  client/src/pages/Customers.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/Deals.tsx
  client/src/pages/Inventory.tsx
  client/src/pages/Login.tsx
  client/src/pages/Settings.tsx
  client/src/pages/index.ts
  client/src/types/auth.ts
  client/src/types/index.ts
  client/src/vite-env.d.ts
  client/tailwind.config.js
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  eslint.config.js
  package-lock.json
  package.json
  scripts/validate-file-structure.js
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat(client): wire up all pages with real API hooks and CRUD operations
  client/src/App.tsx
  client/src/components/forms/CustomerForm.tsx
  client/src/components/forms/DealForm.tsx
  client/src/components/forms/VehicleForm.tsx
  client/src/components/forms/index.ts
  client/src/components/index.ts
  client/src/components/ui/Modal.tsx
  client/src/components/ui/Toast.tsx
  client/src/components/ui/index.ts
  client/src/hooks/index.ts
  client/src/hooks/useCustomers.ts
  client/src/hooks/useDashboard.ts
  client/src/hooks/useDeals.ts
  client/src/hooks/useInventory.ts
  client/src/hooks/useUsers.ts
  client/src/pages/Customers.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/Deals.tsx
  client/src/pages/Inventory.tsx
  client/src/pages/Settings.tsx
  shared/design-system/components/forms/index.ts
  shared/design-system/components/index.ts
Due: eslint --fix, prettier --write

fix(tests): align test assertions with rule implementations
  scripts/validate-file-structure.js
  services/inventory-service/Dockerfile
  shared/autoTaxEngine/wasm-integration.test.ts
  tests/autoTaxEngine/US_AR.test.ts
  tests/autoTaxEngine/US_MS.test.ts
  tests/integration/auth-endpoints.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(infrastructure): add AWS EKS, CI/CD, and Terraform configs
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/pr-check.yaml
  infrastructure/k8s/base/alb-controller.yaml
  infrastructure/k8s/base/api-gateway.yaml
  infrastructure/k8s/base/auth-service.yaml
  infrastructure/k8s/base/config-service.yaml
  infrastructure/k8s/base/configmap.yaml
  infrastructure/k8s/base/customer-service.yaml
  infrastructure/k8s/base/deal-service.yaml
  infrastructure/k8s/base/email-service.yaml
  infrastructure/k8s/base/ingress.yaml
  infrastructure/k8s/base/inventory-service.yaml
  infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/namespace.yaml
  infrastructure/k8s/base/postgres.yaml
  infrastructure/k8s/base/redis.yaml
  infrastructure/k8s/base/secrets.yaml
  infrastructure/k8s/base/user-service.yaml
  infrastructure/k8s/eks/cluster-config.yaml
  infrastructure/k8s/overlays/dev/kustomization.yaml
  infrastructure/k8s/overlays/prod/hpa.yaml
  infrastructure/k8s/overlays/prod/ingress-patch.yaml
  infrastructure/k8s/overlays/prod/kustomization.yaml
  infrastructure/k8s/overlays/prod/pdb.yaml
  infrastructure/k8s/overlays/staging/kustomization.yaml
  infrastructure/terraform/eks.tf
  infrastructure/terraform/elasticache.tf
  infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/main.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/rds.tf
  infrastructure/terraform/variables.tf
  infrastructure/terraform/vpc.tf
  scripts/validate-file-structure.js
Due: eslint --fix, prettier --write

feat(marketing): add high-quality marketing homepage
  client/src/App.tsx
  client/src/contexts/AuthContext.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/index.ts
Due: eslint --fix, prettier --write

fix(styling): standardize global design system and fix hardcoded colors
  client/src/pages/HomePage.tsx
  client/src/pages/Settings.tsx
  client/src/pages/settings/components.tsx
  client/tailwind.config.js
Due: eslint --fix, prettier --write

feat(calculator): add industry-standard Rust WASM deal calculator and enhanced UI
  client/src/hooks/index.ts
  client/src/hooks/useDealCalculator.ts
  client/src/hooks/useEmail.ts
  client/src/hooks/useRBAC.ts
  client/src/index.css
  client/src/layouts/MainLayout.tsx
  client/src/lib/api.ts
  client/src/pages/Deals.tsx
  client/src/pages/deals/DealWorksheet.tsx
  package.json
  scripts/autolytiq.sh
  scripts/seed-data.ts
  services/email-service/attachments.go
  services/email-service/database.go
  services/email-service/database_drafts.go
  services/email-service/database_inbox.go
  services/email-service/database_interface.go
  services/email-service/inbox_handlers.go
  services/email-service/main.go
  services/tax-engine-rs/src/deal_calculator.rs
  services/tax-engine-rs/src/deal_types.rs
  services/tax-engine-rs/src/finance.rs
  services/tax-engine-rs/src/lease.rs
  services/tax-engine-rs/src/lib.rs
  services/user-service/main.go
  services/user-service/rbac.go
  services/user-service/roles.go
Due: eslint --fix, prettier --write

fix(deps): sync package-lock.json to resolve CI pipeline failure
  package-lock.json
Due: prettier --write

fix(lint): improve type annotations and add necessary eslint directives
  scripts/create-admin.ts
  shared/autoTaxEngine/wasm-adapter.ts
  shared/autoTaxEngine/wasm-wrapper.ts
Due: eslint --fix, prettier --write

fix(lint): add eslint directives for remaining lint errors
  scripts/backfill-customer-dealership.ts
  shared/design-system/components/PageHeader.tsx
  shared/design-system/themes.tsx
  tests/autoTaxEngine/US_HI.test.ts
  tests/autoTaxEngine/US_LA.test.ts
Due: eslint --fix, prettier --write

fix(wasm): use dynamic path variable for WASM import
  shared/autoTaxEngine/wasm-wrapper.ts
Due: eslint --fix, prettier --write

fix(ci): resolve all CI pipeline failures
  .github/workflows/ci.yaml
  package.json
  services/api-gateway/.gitignore
  services/api-gateway/go.sum
  services/customer-service/.gitignore
  services/customer-service/go.sum
  services/deal-service/.gitignore
  services/deal-service/go.sum
Due: prettier --write

fix(lint): add eslint-disable to backfill script
  scripts/backfill-customer-dealership.ts
Due: eslint --fix, prettier --write

fix(lint): add eslint-disable to create-admin script
  scripts/create-admin.ts
Due: eslint --fix, prettier --write

fix(lint): add eslint-disable to WASM modules
  shared/autoTaxEngine/wasm-adapter.ts
  shared/autoTaxEngine/wasm-wrapper.ts
Due: eslint --fix, prettier --write

fix(lint): add eslint-disable to design-system components
  shared/design-system/components/PageHeader.tsx
  shared/design-system/themes.tsx
Due: eslint --fix, prettier --write

fix(lint): add eslint-disable to test files
  tests/autoTaxEngine/US_HI.test.ts
  tests/autoTaxEngine/US_LA.test.ts
Due: eslint --fix, prettier --write

fix: Add comprehensive Dockerfile for Railway deployment
  .dockerignore
  Dockerfile
  railway.toml
  scripts/validate-file-structure.ts
Due: eslint --fix, prettier --write

Update railway.json schema and builder configuration
  railway.json
Due: prettier --write

Update railway.toml configuration for deployment
  railway.toml
Due: none

Simplify Tailwind CSS imports in index.css
  client/src/index.css
Due: prettier --write

feat: Add plugin marketplace with anthropics/claude-code plugin
  client/src/components/plugins/PluginCard.tsx
  client/src/components/plugins/PluginDetailModal.tsx
  client/src/components/plugins/PluginMarketplace.tsx
  client/src/components/plugins/index.ts
  client/src/hooks/usePlugins.ts
  client/src/lib/plugins/api.ts
  client/src/lib/plugins/index.ts
  client/src/lib/plugins/registry.ts
  client/src/types/index.ts
  client/src/types/plugins.ts
Due: eslint --fix, prettier --write

fix: Update build configuration for Railway deployment
  Dockerfile
  package.json
  railway.json
  railway.toml
  vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: *.{css,scss})) or (any of: package.json)
